@{
    ViewBag.Title = "İletişim";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Şişli<br />
        Mecidiyeköy<br />
        <abbr title="Telefon">P:</abbr>
        05314857895
    </address>

    <address>
        <strong>Destek:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>