
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<h2>Profil</h2>


<div  >
    <div><strong>Name: </strong>Oğuzhan</div>
    <div><strong>Surname: </strong>Denizhan</div>
    <div><strong>Major: </strong>Computer Engineering</div>
    <div><strong>Place of Birth: </strong>İstanbul</div>
</div>


